@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components{

.button{
  @apply px-2 bg-slate-300 hover:bg-slate-900 hover:text-white ease-in-out rounded-md}

.table_head{
@apply p-2 border-b-4 text-xs  font-semibold text-black}

.table_body{
@apply pt-3 pr-8 border-b-2}}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.sidebar{
position: fixed;
top: 0;
left: 0;
height: 100vh;
z-index: 100;}

.body{
margin-left: 240px;
margin-top: 100px;
}


@media screen and (max-width: 768px){

  .body {
    margin-left: 120px;
  }

  .header {
    left: 0;
    margin-right: 0;
    margin-left: 120px;
    width: 470px;
    
  }
}

@media screen and (max-width: 480px) {

}

.body {
  margin-top: 100px;
  overflow-x :hidden;
}

.header {
  position: fixed;
  top: 20px;
  z-index: 100;
}


